:root {
    --blue: #13293d;
    --green: #b9c6ae;
    --cream: rgb(247, 241, 214);
    --background: #e3f0f0;
}

body {
    background-color: var(--background);
}

nav {
    background-color: var(--blue);
    color: white;
    height: 100px;
    margin: auto;
    padding: 20px;
}

#logout {
    background-color: var(--green);
    color: black;
    float: right;
}

main {
    padding-top: 60px;
}

.outer-row {
    height: 500px;
    width: 1140px;
    border: black;
    border-style: solid;
}

h1 {
    border-bottom: solid;
    height: fit-content;
    color: var(--blue);
}

.project-box {
    background-color: var(--green);
}

#title-row {
    height: 100px;
    margin: auto;
}

#project-row {
    height: fit-content;
}

#bid-row {
    height: fit-content;
}

#project-list-div {
    display: grid;
    height: fit-content;
    padding: 20px;
    overflow: scroll;
    max-height: 600px;
    background-color: var(--cream);
    border-color: var(--blue);
    border-width: 15px;
}

#bid-list-div {
    display: grid;
    height: fit-content;
    padding: 20px;
    overflow: scroll;
    max-height: 600px;
    background-color: var(--cream);
    border-color: var(--blue);
    border-width: 15px;
}

#project-list {
    margin: auto;
    padding: 0;
}

#bid-list {
    margin: auto;
    padding: 0;
}

.project-box {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.bid-box {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    min-width: 477.58px;
    background-color: var(--green);
}

h3 {
    text-align: center;
}

.place-bid-button {
    background-color: var(--blue);
    color: white;
}

.update-bid-button {
    background-color: var(--blue);
    color: white;
}