:root {
  --blue: #13293d;
  --green: #b9c6ae;
  --cream: rgb(247, 241, 214);
  --background: #e3f0f0;
}

html,
body {
  min-height: 100%;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

nav {
  background-color: var(--blue);
  color: white;
  height: 100px;
  margin: auto;
  padding: 20px;
}

#logout {
  background-color: var(--green);
  color: black;
  float: right;
}

#projects-title {
  border-bottom: solid;
  height: fit-content;
  color: var(--blue);
}

#bids-title {
  border-bottom: solid;
  height: fit-content;
  color: var(--blue);
}

h2 {
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 50px;
  line-height: 1.25px;
  font-size: 50px;
}

#form {
  float: right;
  border: solid;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  background-color: gray;
  color: black;
}

#form:hover {
  border-style: groove;
}

#form-row {
  padding: 30px 5px 30px 5px;
}

#bids {
  display: grid;
  height: fit-content;
  padding: 20px;
  overflow: scroll;
  max-height: 600px;
  min-width: 600px;
  width: fit-content;
  border: solid;
  background-color: var(--cream);
  border-color: var(--blue);
  border-width: 15px;
  margin-top: 30px;
  margin-left: 20px;
}

#projects {
  display: grid;
  height: fit-content;
  padding: 20px;
  overflow: scroll;
  min-width: 600px;
  width: fit-content;
  max-height: 600px;
  border: solid;
  background-color: var(--cream);
  border-color: var(--blue);
  border-width: 15px;
  margin-top: 30px;
  margin-right: 20px;
}

#project-ul {
  margin: 0px;
  padding: 0px;
}

.card-footer {
  width: 150px;
  height: 60px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 120px;
  background-color: darkgray;
  color: black;
}

section {
  display: block;
}

#input-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

#button-section {
  color: green;
}

a {
  background-color: transparent;
}

label {
  font-size: 30px;
}

thead {
  background-color: black;
  color: white;
  font-size: 15px;
}

.delete-project-btn {
  cursor: pointer;
}

.bid-box{
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  text-align: center;
}

#bids {
  background-color: var(--cream);
  color: var(--blue);
}

#projects {
  background-color: var(--cream);
  color: var(--blue);
}

#new-project {
  margin-top: 40px;
  background-color: var(--blue);
  color: white;
}

#button-div {
  width: 100vw;
  text-align: center;
}

.project-box {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--green);
}

.approve-button {
  background-color: var(--blue);
  color: white;
  margin-top: 30px;
}

h4 {
  font-weight: bold;
}

#main-row {
  flex-wrap: nowrap;
  flex-direction: row;
}

/* when screen gets below 1200 px {
 #main-row flexwrap wrap
 #bids margin left 0
 #projects margin right 0} */

@media screen and (max-width: 1200px) {
  #main-row {
    flex-wrap: wrap;
  }
  #bids {
    margin-left: 0px;
  }
  #projects {
    margin-right: 0px;
  }
}